.page-header{
    height: 300px;
    background: url(../img/banner.webp);
    background-repeat: no-repeat;
    background-position: center;
    @include textopts(2rem, #fff);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1px;
    max-width: 1400px;
    margin: 0 auto;

    .banner-tagline{
        font-size: 1.25rem;
        @include mont(400);
        padding-top: 2rem;
    }
}